{% extends 'base.html' %} {% block content %}

<h1>Cat Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ plant.name }}</span>
                <p>Waterings: {{ plant.waterings }}</p>
                <p>Sunlight: {{ plant.sunlight }}</p>
                <p>Description: {{ plant.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'update_plants' plant.id %}">Edit</a>
                <a href="{% url 'delete_plants' plant.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Watering Type</th>
                </tr>
            </thead>
            <tbody>
                {% for watering in plant.watering_set.all %}
                <tr>
                    <td>{{watering.date}}</td>
                    <td>{{watering.get_amount_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}