{% extends 'base.html' %} {% block content %}

<h1>Plant Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ plant.name }}</span>
                <p>Waterings: {{ plant.waterings }}</p>
                <p>Sunlight: {{ plant.sunlight }}</p>
                <p>Description: {{ plant.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'update_plants' plant.id %}">Edit</a>
                <a href="{% url 'delete_plants' plant.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_watering' plant.id %}" method="POST">
            {% csrf_token %} {{ watering_form.as_p }}
            <input type="submit" class='btn' value="Add Watering">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Watering Type</th>
                </tr>
            </thead>
            <tbody>
                {% for watering in plant.watering_set.all %}
                <tr>
                    <td>{{watering.date}}</td>
                    <td>{{watering.get_amount_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />
    <div class="row">
        <div class="col s6">
            <h3>{{ plant.name }}'s Additives</h3>
            {% if plant.additives.count %} {% for additive in plant.additives.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ additive.name }}
                    </span>
                </div>
            </div>
            {% endfor %} {% else %}
            <h5>No Additives :(</h5>
            {% endif %}
        </div>
        <div class="col s6">
            <h3>Available Additives</h3>
            {% if additives.count %}
            {% for additive in additives.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ additive.name }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'assoc_additive' plant.id additive.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Add</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h5>{{plant.name}} Already Has All Additives Available</h5>
            {% endif %}
        </div>
    </div>

    <script>
        var dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });

        var selectEl = document.getElementById('id_amount');
        M.FormSelect.init(selectEl);
    </script>
    {% endblock %}